.Music {
    background-color: #254441;
    min-height: 100vh;
    text-align: center;
}
  
.Music-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Music-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF6A55;
    margin: 0;
}
.Music-name .header {
    font-size: calc(25px + 2vmin);
    font-weight: 500;
}

.Music-name .sub {
    font-size: calc(10px + 2vmin);
    font-weight: 100;
}
  
.Music-navi {
    font-size: calc(10px + 2vmin);
    font-weight: 100;
    color: #FF6A55;
    text-decoration: none;
}